<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IGalaxyStationService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--60.242.199.219  192.168.1.114-->
      <endpoint address="net.tcp://192.168.1.114/GalaxyStationServer/GalaxyStationService.svc"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGalaxyStationService"
                contract="IGalaxyStationService"
                name="NetTcpBinding_IGalaxyStationService" />
    </client>
  </system.serviceModel>
</configuration>